@model AnimalAdoption.Models.ShelterContactViewModel
@{
    ViewBag.Title = "Edit";
}

<br />
<h2>@ViewBag.Title</h2>
@using (Html.BeginForm(actionName: "Edit", controllerName: "Shelter", method: FormMethod.Post))
{
    @Html.HttpMethodOverride(HttpVerbs.Put)
    @Html.HiddenFor(c => c.Shelter.ShelterId)

    <br />
    @Html.Label("Name", "Shelter Name")
    <br />
    @Html.EditorFor(c => c.Shelter.ShelterName, new { htmlAttributes = new { @class = "form-control" } })
    @Html.ValidationMessageFor(c => c.Shelter.ShelterName, "", new { @class = "text-danger" })
    <br />

    @Html.Label("Address", "Address")
    <br />
    @Html.EditorFor(c => c.ShelterContactInfo.Address, new { htmlAttributes = new { @class = "form-control" } })
    @Html.ValidationMessageFor(c => c.ShelterContactInfo.Address, "", new { @class = "text-danger" })
    <br />
    <br />
    @Html.Label("PhoneNumber", "Phone Number")
    <br />
    @Html.EditorFor(c => c.ShelterContactInfo.PhoneNumber, new { htmlAttributes = new { @class = "form-control" } })
    @Html.ValidationMessageFor(c => c.ShelterContactInfo.PhoneNumber, "", new { @class = "text-danger" })
    <br />
    @Html.Label("City", "City")
    <br />
    @Html.EditorFor(c => c.ShelterContactInfo.City, new { htmlAttributes = new { @class = "form-control" } })
    @Html.ValidationMessageFor(c => c.ShelterContactInfo.City, "", new { @class = "text-danger" })
    <br />
    @Html.Label("County", "County")
    <br />
    @Html.EditorFor(c => c.ShelterContactInfo.County, new { htmlAttributes = new { @class = "form-control" } })
    @Html.ValidationMessageFor(c => c.ShelterContactInfo.County, "", new { @class = "text-danger" })
    <br />
    @Html.Label("Email", "Email")
    <br />
    @Html.EditorFor(c => c.ShelterContactInfo.Email, new { htmlAttributes = new { @class = "form-control" } })
    @Html.ValidationMessageFor(c => c.ShelterContactInfo.Email, "", new { @class = "text-danger" })
    <br />
    <br />
    <br />
    <button class="btn btn-primary" type="submit">Update</button>
    <br />
    <br />

}

