@model AnimalAdoption.Models.IndexViewModel
@{
    ViewBag.Title = "Manage";
}

<br />
<br />
<br />
<h2>@ViewBag.Title</h2>

<p class="text-success">@ViewBag.StatusMessage</p>
<div>
    <h4>Change your account settings</h4>
    <hr />
    @Html.Label("Name", "First Name")
    <p>@Model.FirstName</p>
    <br />
    @Html.Label("Name", "Last Name")
    <p>@Model.LastName</p>
    <br />
    @Html.Label("Email", "Email")
    <p>@Model.Email</p>
    <br />
    @Html.Label("Password", "Password")
    @if (Model.HasPassword)
    {
        @Html.ActionLink("Change your password", "ChangePassword")
    }
    else
    {
        @Html.ActionLink("Create", "SetPassword")
    }
    <br />
    <br />
    @Html.Label("City", "City")
    <p>@Model.City</p>
    <br />
    @Html.Label("County", "County")
    <p>@Model.County</p>
    <br />
    @Html.Label("BirthDate", "Birth Date")
    <p>@Model.BirthDate</p>
    <br />
    @using (Html.BeginForm(actionName: "Edit", controllerName: "Manage",
                    method: FormMethod.Post))
    {
        <button class=" btn btn-primary">Update user information</button>
    }
    @if (User.IsInRole("User"))
    {
        <div style="margin-top: 20px;">
            @using (Html.BeginForm(actionName: "IndexAdoptionsAsync", controllerName: "Manage", method: FormMethod.Get))
            {
                <button class="btn btn-primary">See my adoptions</button>
            }
        </div>
     }
    @if (User.IsInRole("Admin"))
    {
        <br />
        <div style="margin-top: 20px;">
            @using (Html.BeginForm(actionName: "IndexUsers", controllerName: "Manage", method: FormMethod.Get))
            {
                <button class="btn btn-primary">See all users</button>
            }
        </div>
        <div style="margin-top: 20px;">
            @using (Html.BeginForm(actionName: "Index", controllerName: "Adoption", method: FormMethod.Get))
            {
                <button class="btn btn-primary">See all adoptions</button>
            }
        </div>
    }
</div>
