@model AnimalAdoption.Models.Adoption
@{
    ViewBag.Title = "IndexAdoptionsAsync";
}

<br />
<br />
<br />
<h2>My Adoptions</h2>
@foreach (var adoption in ViewBag.Adoptions)
{
    <div class="panel panel-default">
        <div class="panel-body">
            <dd>
                <img src="@Url.Content(adoption.Pet.ImagePath)" width="300" height="390" />
            </dd>
            <br />
            @Html.Label("Name", "Name")
            <br />
            <p>@adoption.Pet.PetName</p>
            @Html.Label("Species", "Species")
            <br />
            <p>@adoption.Pet.Species</p>
            @Html.Label("Breed", "Breed")
            <br />
            <p>@adoption.Pet.Breed</p>
            @Html.Label("Shelter", "Shelter Name")
            <br />
            <p>@adoption.Pet.Shelter.ShelterName</p>
            @Html.Label("Shelter", "Shelter Address")
            <br />
            <p>@adoption.Pet.Shelter.ShelterContactInfo.Address</p>
            @Html.Label("Phone", "Phone Number")
            <br />
            <p>@adoption.Pet.Shelter.ShelterContactInfo.PhoneNumber</p>

            @Html.Label("Email", "Email")
            <br />
            <p>@adoption.Pet.Shelter.ShelterContactInfo.Email</p>
            <br />
            @using (Html.BeginForm(actionName: "Delete", controllerName: "Adoption", method: FormMethod.Post, routeValues: new { id = adoption.AdoptionId }))
            {
                @Html.HttpMethodOverride(HttpVerbs.Delete)
                <button class="btn btn-primary col-lg-1" style="margin-right:5px" type="submit">Delete</button>
            }
        </div>
    </div>
}